# Data Collection

In [4]:
# external libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# Parsing "https://www.trustpilot.com/review/tesla.com", UNSTRUCTURED DATA

URL1 = "https://www.trustpilot.com/review/tesla.com"
CONTENT_CLASS_1 = "CDS_Typography_appearance-default__96c1da CDS_Typography_prettyStyle__96c1da CDS_Typography_body-l__96c1da"

# Comment Section of website contains 27 pages. Using for loop to access each of them.

for i in range(1, 28):
    res1 = requests.get(f"{URL1}?page={i}")

    soup1 = BeautifulSoup(res1.content, 'html.parser')

    content = soup1.find_all('p', class_=CONTENT_CLASS_1)

    if content:
        with open('content1.txt', 'a', errors='replace') as m:
            for para in content:
                m.write(para.text.strip() + '\n\n')
    else:
        print("content not found")

In [9]:
# Converting raw txt file to dataframe for data preprocessing.

with open('content1.txt', 'r', errors='replace') as n:
    Reviews = n.read().strip().split('\n\n')

data = pd.DataFrame(Reviews, columns=['Reviews'])
data

                                               Reviews
0    Absolutely unacceptable customer service from ...
1    I have 2 Powerwalls series 2. they worked well...
2    Over all happy with the car. the ghost braking...
3    I chose Tesla after a random test drive and I ...
4                                              Denmark
..                                                 ...
657  I chose Tesla after a random test drive and I ...
658                                            Denmark
659                                        1,702 total
660  horrible, horrible customer service! I ordered...
661  The worst customer service I've experienced to...

[662 rows x 1 columns]

In [13]:
# Removing unncessesy and repeating columns.

unwanted = ['Denmark', '1,702 total']
pattern = '|'.join(unwanted)

raw_data = data[~data['Reviews'].str.contains(pattern)].reset_index(drop=True)
raw_data

                                               Reviews
0    Absolutely unacceptable customer service from ...
1    I have 2 Powerwalls series 2. they worked well...
2    Over all happy with the car. the ghost braking...
3    I chose Tesla after a random test drive and I ...
4    Absolutely unacceptable customer service from ...
..                                                 ...
598  I have 2 Powerwalls series 2. they worked well...
599  Over all happy with the car. the ghost braking...
600  I chose Tesla after a random test drive and I ...
601  horrible, horrible customer service! I ordered...
602  The worst customer service I've experienced to...

[603 rows x 1 columns]